<a href="https://colab.research.google.com/github/shameer-phy/Pandas_EDA/blob/main/Project_Geo_spatial_Analysis/Geo_Spatial_Analysis_Temperature_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Is there really any Global-Warming?

In [ ]:
#importing packages
import pandas as pd
import numpy as np
import plotly.express as px 
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [ ]:
#Reading the Dataset
df = pd.read_csv('https://raw.githubusercontent.com/shameer-phy/Pandas_EDA/main/Project_Geo_spatial_Analysis/GlobalTemperatures.csv')

In [ ]:
df.head()

           dt  ...  LandAndOceanAverageTemperatureUncertainty
0  1750-01-01  ...                                        NaN
1  1750-02-01  ...                                        NaN
2  1750-03-01  ...                                        NaN
3  1750-04-01  ...                                        NaN
4  1750-05-01  ...                                        NaN

[5 rows x 9 columns]

In [ ]:
df.shape

(3192, 9)

In [ ]:
df.isnull().sum()

dt                                              0
LandAverageTemperature                         12
LandAverageTemperatureUncertainty              12
LandMaxTemperature                           1200
LandMaxTemperatureUncertainty                1200
LandMinTemperature                           1200
LandMinTemperatureUncertainty                1200
LandAndOceanAverageTemperature               1200
LandAndOceanAverageTemperatureUncertainty    1200
dtype: int64

In [ ]:
df['dt']
df['dt'][0]
df['dt'][0].split('-')
df['dt'][0].split('-')[0]

'1750'

In [ ]:
def year_fun(date):
  return date.split('-')[0]

In [ ]:
df['year'] = df['dt'].apply(year_fun)
df.head()
df['year'] = df['year'].astype(int)

In [ ]:
df.head()
avg_temp = df.groupby('year').agg({'LandAverageTemperature':'mean','LandAverageTemperatureUncertainty':'mean'}).reset_index()

In [ ]:
avg_temp.head()

   year  LandAverageTemperature  LandAverageTemperatureUncertainty
0  1750                8.719364                           2.637818
1  1751                7.976143                           2.781143
2  1752                5.779833                           2.977000
3  1753                8.388083                           3.176000
4  1754                8.469333                           3.494250

In [ ]:
avg_temp['LandAvg_Max'] = avg_temp['LandAverageTemperature'] + avg_temp['LandAverageTemperatureUncertainty']
avg_temp['LandAvg_Min'] = avg_temp['LandAverageTemperature'] - avg_temp['LandAverageTemperatureUncertainty']

In [ ]:
avg_temp.head()

   year  LandAverageTemperature  ...  LandAvg_Max  LandAvg_Min
0  1750                8.719364  ...    11.357182     6.081545
1  1751                7.976143  ...    10.757286     5.195000
2  1752                5.779833  ...     8.756833     2.802833
3  1753                8.388083  ...    11.564083     5.212083
4  1754                8.469333  ...    11.963583     4.975083

[5 rows x 5 columns]

In [ ]:
fig = px.line(avg_temp,x=['year'],y=['LandAverageTemperature','LandAvg_Max','LandAvg_Min'],title='Avg Temperatures Plot')
fig.show()

ValueError: ignored

In [ ]:
import plotly
plotly.io.renderers.default = 'colab'
# example
import plotly.graph_objects as go
fig = go.Figure( go.Scatter(x=[1,2,3], y=[1,3,2] ) )
fig.show()